body {
  background-color: #545643;
  height: 100%;
  padding: 0;
  margin: 0;
}

button {
    background-color: #7B2D26;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 15px;
}

button:hover {
  background-color: #453A49;
  color: black;
}

div {
  background-color:#69140E;
  font-family:Verdana, Geneva,sans-serif;
  font-size:1em;
  color:white;
  display:block;
  width:auto;
  height:auto;
  margin:20px 10px;
  padding:10px 20px;
	border:5px solid black;
  border-radius:15px;
}

footer {
  font-family:verdana;
  font-size:1em;
  color:white;
  text-align:right;
  float:right;
  margin:10px 50px;
  padding:30px 20px;
}

a:link, a:visited {
    background-color: #7B2D26;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    border-radius: 15px;
}

a:hover, a:active {
    background-color: #453A49;
    color: black;
}
ul {
  text-align: center;
}

#homeDiv img {
  float: left;
  border: 5px solid black;
  border-radius: 15px;
  width: 10%;
}

#homeDiv h3   {
  text-align: center;
}

#resultsButton {
  left: 50%;
  background-color: #7B2D26;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#resultsButton:hover {
  background-color: #453A49;
}

#instrucciones {
  float: right;
  background-color: #242038;
  position: absolute;
  background-repeat: no-repeat;
  display:none;
  margin:20px 10px;
  padding:10px 20px;
}

#selectMultiple{
  width: 15%;
}

#comprobacion{
  display: none;
}

#buttonClose {
  float: right;
  right: 50%;
}

#resultButton {
  float:right;
  right: 80%;
  position: absolute;
  background-color: #7B2D26;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border:2px solid black;
  border-radius:15px;

}

#resultButton:hover {
  background-color: #453A49;
}

#resultadosDiv {
  display: none;
}
