html {
  padding: 0;
}

body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
}

#suelo {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 15%;
}

#nave {
  left: 40%;
  position: absolute;
  top: 5%;
  height: 20%;
}

#altura {
  position: absolute;
  left: 2.5%;
  top: 1%;
}

#altura img{
  width: 40%;
  float: left;
  display: inline-block;
}

#altura p{
  color: white;
  float: left;
  margin-left: 5%;
  font-size: 200%;
}

#velocidad {
  position: absolute;
  left: 1.9%;
  top: 10%;
}

#velocidad img{
  width: 40%;
  float: left;
  display: inline-block;
}

#velocidad p{
  color: white;
  float: left;
  margin-left: 5%;
  font-size: 200%;
}

#gasolina {
  position: absolute;
  left: 2.5%;
  top: 20%;
 }

 #gasolina img{
   width: 40%;
   float: left;
   display: inline-block;
 }

 #gasolina p {
   color: white;
   float: left;
   margin-left: 5%;
   font-size: 200%;
  }

#pausa {
position: absolute;
right: 2%;
top: 1%;
}

#pausa img{
  height: 40%;
  float: left;
}
