html {
  padding: 0;
}

body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
}

#suelo {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 15%;
}

#nave {
  left: 44%;
  position: absolute;
  top: 5%;
  height: 20%;
}

#altura {
  position: absolute;
  left: 2%;
  top: 1%;
}

#altura img{
  width: 20%;

  float: left;
  display: inline-block;

}

#altura p{
  color: white;
  float: left;
  margin-left: 3%;
  margin-top: 5%;
}

#velocidad {
  position: absolute;
  left: 2%;
  top: 10%;
}

#velocidad img{
  width: 20%;
  float: left;
  display: inline-block;
}

#velocidad p{
  color: white;
  float: left;
  margin-left: 3%;
  margin-top: 3%;
}

#gasolina {
  position: absolute;
  left: 2%;
  top: 23%;
 }

 #gasolina img{
   width: 28%;
   float: left;
   display: inline-block;
 }
 #gasolinaborder {
   position: absolute;
   left: 2%;
   top: 30%;
 }

 p.gasolinaborder{
   border-style: solid;
   border-color: white;
   border-radius: 10px;
   border-left: thick solid #ff0000;
   height: 250px;
   width: 20px;
   top: 30%;
   left: 50px;
   color: white;
 }

 #gasolina p {
   color: white;
   float: left;
   left: 20%;
  }

#pausa {
  position: absolute;
  right: 2%;
  top: 3%;
}

#pausa img{
  width: 30%;
  float: right;
}

#reanudar {
  position: absolute;
  right: 2%;
  top: 1%;
}

#reanudar img {
  height: 2%;
  float: left;
}

#reiniciar {
  position: absolute;
  right: 2%;
  top: 12%;
}

#reiniciar img{
  width: 30%;
  float: right;
}

#opciones {
  position: absolute;
  right: 1.5%;
  top: 20%;
}

#opciones img {
  width: 40%;
  float: right;
}

#config p {
  color: white;
  border-style: dashed;
  float: center;
  margin-left: 10px;
  margin-top: 25%;
}
