body {
    background: url(../img/news.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.row > .col-xs-12 {
    height: 300px;
    width: 850px;
    background-color: #0e0505;
    margin: 1em 1em;
    border-radius: 20px;

}

.imgContainer {
    height: 150px;
    width: 150px;
    background-color: green;
    margin: 1em 1em;
    border-radius: 20px;
}

#adv {
    position: absolute;
    position-top: 15%;
    position-left: 15px;
    background-color: #0e0505;
    border-radius: 20px;

}